<%- include("partials/head")%>

    <body>
        <h1>All the cats</h1>
        <ul>
            <% for(let cat of cats){ %>
                <li>
                    <%= cat %>
                </li>
                <% } %>
        </ul>
    </body>

    </html>