<%- include("partials/head")%>>
    <%- include("partials/navbar")%>
        <h1>The Home Page <%= "hello world" .toUpperCase() %>
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor similique incidunt autem dolorum nulla
            cumque
            magni laboriosam pariatur omnis veniam, dignissimos dicta velit molestias eius, fugit deserunt modi odit
            et?
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor similique incidunt autem dolorum nulla
            cumque
            magni laboriosam pariatur omnis veniam, dignissimos dicta velit molestias eius, fugit deserunt modi odit
            et?
        </p>

        <%- include("partials/footer")%>