body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;

    /*flex direction is set to "row" as default */
    /*flex-direction: ROW | ROW-REVERSE | COLUMN | COLUMN-REVERSE;*/

    display: flex;
    flex-direction: column;
}

#container div{
    width: 200px;
    height: 200px;
}